[user]
	name = YOUR_NAME
	email = YOUR_EMAIL@example.com

[core]
	autocrlf = input
	editor = nvim
	pager = delta
	excludesfile = ~/.gitignore_global

[init]
	defaultBranch = main

[pull]
	rebase = true

[push]
	autoSetupRemote = true

[diff]
	colorMoved = default

[merge]
	conflictstyle = diff3

[interactive]
	diffFilter = delta --color-only

[delta]
	navigate = true
	side-by-side = true
	line-numbers = true
	syntax-theme = Catppuccin-mocha

[alias]
	lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit

[include]
	path = ~/.gitconfig.local
